@model IEnumerable<main_prj.Models.Category>

@{
    int i = 0;
    List<int> ProductCount = (List<int>)ViewBag.ProductCount;
}
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        
        @foreach(var item in Model)
        {
            
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    
                    <p class="text-right">@ProductCount[i] sản phẩm</p>
                    <a asp-action="ProductsByCategory" asp-controller="Products" asp-route-id="@item.CategoryId"
                        class="cat-img position-relative overflow-hidden mb-3">
                        
                        <img class="img-fluid" src="~/ProductImages/CategoryImages/@item.CategoryId/@item.CategoryImage" 
                            alt="@item.CategoryName">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">@item.CategoryName</h5>
                </div>
            </div>
            i++;
        }
    </div> 
</div>